@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>In case you come here: do NOT violate our copyright!
    By the way we value privacy of our customers very high, so don't you worry!</p>
